<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>About me</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)"></nav>
<!--中间内容-->
<div  class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img th:src="@{/images/p1.jpg}" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header" style="font-family:'Arial Narrow';color:rgb(17,110,169)">about me</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">PGE，一个热爱生活，热爱的学习的有志青年，座右铭是:<span style="color:mediumvioletred">stay hungry, stay foolish</span></p>
                </div>
                <div class="ui attached segment">
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">sports</div>
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">programming</div>
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">dishes</div>
                    <div class="ui blue basic left pointing label m-margin-tb-tiny">movies</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui red basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui red basic left pointing label m-margin-tb-tiny">Mysql</div>
                    <div class="ui red basic left pointing label m-margin-tb-tiny">Redis</div>
                    <div class="ui red basic left pointing label m-margin-tb-tiny">Spring</div>
                    <div class="ui red basic left pointing label m-margin-tb-tiny">Spring Boot</div>
                </div>
                <div class="ui bottom attached segment">
                    <a th:href="@{https://github.com/PGE123}" target="_blank" class="ui github circular icon button" th:attr="data-content='点击进入我的博客',data-position='bottom center'"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button"><i class="qq icon"></i></a>
                </div>

                <div class="ui wechat-qr flowing popup transition hidden">
                    <img th:src="@{/images/wechat.png}" alt="" class="ui rounded image" style="width:110px">
                </div>
                <div class="ui qq-qr flowing popup transition hidden">
                    <img th:src="@{/images/qq.png}" alt="" class="ui rounded image" style="width:110px">
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    $('.github').popup();
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position:'bottom center'
    });
    $('.qq').popup({
        popup:$('.qq-qr'),
        position:'bottom center'
    });
</script>
</body>
</html>